@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  margin: 0;
  line-height: 1.7;
  font-size: 0.9rem;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.fixed-bg {
  height: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.wrapper {
  max-width: 1000px;
  padding: 90px 16px 150px 16px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 4.5rem;
  -webkit-filter: drop-shadow(1px 1px 10px #c0c0c0);
          filter: drop-shadow(1px 1px 10px #c0c0c0);
  position: absolute;
  top: 30%;
}

.item-title {
  font-size: 2.5rem;
  display: inline-block;
  border-bottom: solid 6px #e03131;
  margin-bottom: 70px;
}

#header {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url("../mainvisual.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}
#header .main-ul {
  text-align: right;
}
#header .main-li {
  display: inline-block;
  margin: 20px 0 0 30px;
}
#header .main-li:last-child {
  margin-right: 16px;
}
#header .main-a {
  color: #ffffff;
  font-weight: bold;
  -webkit-filter: drop-shadow(1px 1px 2px #121212);
          filter: drop-shadow(1px 1px 2px #121212);
}
#header .main-a:hover {
  color: #e03131;
}
#header .site-title {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  -webkit-filter: drop-shadow(1px 1px 10px #c0c0c0);
          filter: drop-shadow(1px 1px 10px #c0c0c0);
  color: #fff;
  text-align: center;
}

#menu {
  margin-top: 20px;
}
#menu .menu-img {
  background-image: url("../menu.jpg");
  position: relative;
}
#menu .menu-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#menu .menu-item {
  width: 50%;
  padding: 0 45px;
}
#menu .menu-item:first-child {
  border-right: solid 1px #000;
}
#menu dl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
#menu dt {
  width: 87%;
  text-align: left;
  border-bottom: dotted 1px #000;
  margin-bottom: 25px;
}
#menu dd {
  width: 13%;
  text-align: right;
  padding-top: 8px;
}
#menu .food {
  margin-bottom: 55px;
}

#about {
  margin-top: 20px;
  /*
  .readmore::before 右の赤線
  .readmore::after 下の赤線
  .readmore-span::before 左の赤線
  .readmore-span::after 上の赤線
  */
}
#about .about-img {
  background-image: url("../about.jpg");
  position: relative;
}
#about ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
#about li {
  width: 50%;
  line-height: 2;
  text-align: left;
  padding: 2%;
}
#about .readmore {
  width: 160px;
  height: 50px;
  line-height: 3.5;
  display: inline-block;
  color: #000;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
#about .readmore-span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#about .readmore::before, #about .readmore::after, #about .readmore-span::before, #about .readmore-span::after {
  position: absolute;
  content: "";
  background: #e03131;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#about .readmore::before, #about .readmore::after {
  right: 0;
  bottom: 0;
}
#about .readmore-span::before, #about .readmore-span::after {
  left: 0;
  top: 0;
}
#about .readmore::before, #about .readmore-span::before {
  width: 2px;
  height: 50%;
}
#about .readmore::after, #about .readmore-span::after {
  width: 20%;
  height: 2px;
}
#about .readmore:hover::before, #about .readmore-span:hover::before {
  height: 100%;
}
#about .readmore:hover::after, #about .readmore-span:hover::after {
  width: 100%;
}

#location {
  margin-top: 20px;
}
#location .location-img {
  background-image: url("../location.jpg");
  position: relative;
}
#location iframe {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin-bottom: 20px;
}
#location .store-info {
  text-align: left;
}
#location .store-info p {
  margin-bottom: 10px;
}

#footer {
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .fixed-bg {
    height: 94px;
    background-attachment: scroll;
  }
  .wrapper {
    padding: 30px 16px 60px 16px;
  }
  .section-title {
    font-size: 2rem;
    top: 26%;
  }
  .item-title {
    font-size: 1.25rem;
    margin-bottom: 25px;
  }
  #header {
    padding: 20px 40px;
  }
  #header .site-title {
    top: 42%;
    padding: 0 16px;
  }
  #header .main-li {
    margin-top: 0;
  }
  #header .main-li:last-child {
    margin-right: 0;
  }
  #menu {
    margin-top: 10px;
  }
  #menu .menu-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #menu .menu-item {
    width: 100%;
    padding: 0;
  }
  #menu .menu-item:first-child {
    border-right: none;
  }
  #about {
    margin-top: 10px;
  }
  #about ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about li {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */